
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: #eee;
}

body {
  width: 100%;
  height: 100%;
  background: #224277;
  text-align: center;
  
}

section {
  padding: 6rem 0;
}

a {
  text-decoration: none;
  color: #eee;
}

section p {
  font-size: 1.8rem;
  text-align: justify;
}



/*End global*/

/*Start reusable*/
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 10rem;
}

.section-heading h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 900;
  position: relative;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

/* line separators */
.section-heading h1::before,
.section-heading h1::after {
  content: "";
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}

/* line */
.section-heading h1::before {
  width: 10rem;
  height: 1px;
  border-radius: 1rem;
}

.section-heading h6 {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  font-weight: 300;
}

/*End reusable*/

/*Start header*/
header {
  width: 100%;
  height: 100vh;
}

/* navbar */
.navbar {
  padding-bottom: 10px;
  z-index: 100;
  background-color:#041D42;
  position: fixed;
  width: 100%;

}

.main-nav {
  list-style-type: none;
  display: none;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-links {
  z-index: 101;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  padding: 0.4rem;
}

.main-nav li {
  transition: 0.2 ease-in-out;
  text-align: center;
  margin: 3rem auto;
}

.main-nav li:hover{
  transform: scale(1.1);
}

.nav-links:hover {
  background:#BDD5E3;
  z-index: 101;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #BDD5E3;
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 50px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .navbar-toggle {
    display: none;
  }

  .nav-links:hover {
    color: #BDD5E3;
    z-index: 101;
    transform: scale(1.3);
  }

  .logo {
    margin-top: 0;
  }
}


/* in case ever make a logo */
.logo {
  visibility: hidden;
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

/* navbar */

.landing-text {
  /* perfect center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

/* name */
.landing-text h1 {
  font-size: 8rem;
  font-weight: 500;
  font-family: "Kaushan Script", sans-serif;
  background: linear-gradient(to top,#82A5C5,#BDD5E3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  user-select: none;
  line-height: 1.1;
}

.landing-text h6 {
  font-family: "Montserrat", "sans-serif";
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 2rem;

}


.landingbtn {
  margin: 0 auto;
  background-color: #041D42;
  height: 6rem;
  width: 20rem;
  cursor: pointer;
  transition: 0.2s ease-in;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.landingbtn p {
  font-family: "Montserrat", "sans-serif";
  font-size: 2rem;
}

.landingbtn:hover {
  transform: scale(1.05);
  color: #EEE;
  background-color: #162D59;
}

/*End header*/

/*Start about*/

#about {
  margin-top: 2rem;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6rem;
  line-height: 0.2;
  /* puts "About" behind */

}

.about-heading h1 {
  opacity: .3;
  font-size: 10rem;
}

.about-heading h6 {
  font-size: 2rem;
  font-weight: 300;
}

.profile-img {
  max-width: 30rem;
  flex: 1;
  margin: 0 3rem 7rem 0;
}

.profile-img img {
  border-radius: 20%;
}


.about-details {
  flex: 1;
}

.social-media .nav-list{
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
  margin-top: 5rem;
}

.social-media i {
  padding: 1rem;
  font-size: 4rem;
  transition: all 250ms;
}

.social-media i:hover {
  transform: scale(1.1);
}

.fa-linkedin:hover{
  color: #8FADBF;
}


.fa-github-square:hover {
  color:#8FADBF;
}

.fa-dribbble-square:hover{
  color: #8FADBF;
}

/*End about*/

/*Start services*/
.my-skills {
  margin-top: 10rem;
  display: flex;
flex-flow: row;
  text-align: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.skill h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
  font-size: 2rem;
}

.icon-container {
  width: 10rem;
  height: 10rem;
  border: 5px solid #82A5C5;
  background-color: #BDD5E3;
  margin-bottom: 2rem;
  display: flex;
  transform: rotate(45deg);
}

.icon-container i {
  color:#041D42;
  font-size: 5rem;
  margin: auto;
  transform: rotate(-45deg);
}


.skillicons {
  margin-top: 1rem;
  font-size: 4rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.skillicon-box {
  margin: 1rem;
  padding: 1rem;
}

/*End services*/

/*Start portfolio*/

.portfolio img:not(.extrapic), .about img {
  width: 100%;
}

.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}

.portfolio-img {
  width: 50rem;
  flex: 1;

}

.portfolio-description {
  flex: 1;
  margin: 1rem;
}

.portfolio-description h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 1rem 0;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #D8D9D7;

}

.portfolio-description p,
.portfolio-long p {
  text-align: left;
}

.portfolio-long {
  display: none;
  order: 3;
  background-color: rgba(4, 29, 66, 0.918);
  padding: 2rem;
  margin: 1rem 0 2rem 0;
}

.arrowDown {
  display: block;
}

.arrowUp {
  display: none;
}


.portfolio-description .cta {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #EEE;
  transition: all 150ms;
}

.portfolio-description .cta:hover {
  transform: scale(1.1);
  font-weight: 800;

}

.portfolio-item:last-child {
  margin-bottom: 4rem;
}

.extrapic{
  margin: 1rem;
  width: 40%;
 }
 
 
 .portfolio-long a{
  color: #EBF1F6;
   font-weight: 600;
 }
 
 .portfolio-long .subheading{
   margin-top: 1rem;
   color: #8FADBF;
   display: block;
   text-align:left;
   font-weight: 900;
   font-size: 2rem;
 }
 
 .portfolio-long ul, .bio ul{
   margin-left: 2rem;
   font-size: 1.8rem;
   text-align: left;
 }
 
 .nested li{
 padding: 0 !important;
 margin-left: 10px;
 }
 
 .portfolio-long li{
   padding: 1rem;
 }
 
/*End services*/

/* Start Experience*/
.timeline ul{
  border-left: 4px solid #8FADBF;
  border-radius: .8rem;
  background-color: rgba(4, 29, 66, 0.918);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}

.timeline h1{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  opacity: .3;
}

.timeline .date{
  border-bottom: 1px solid rgba(130, 165, 197, 0.99);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.timeline .date:last-of-type{
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .date::before,
.timeline .date::after{
  position: absolute;
  display: block;
  top:50%;
  transform: translateY(-50%);
}

.timeline .date::before{
  content: attr(data-date);
  left: -18.4rem;
  text-align: right;
  min-width: 12rem;
  font-size: 1.2rem;
}

.timeline .date::after{
  content: '';
  box-shadow: 0 0 0 4px #041D42;
  border-radius: 100%;
  left: -5.9rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #82A5C5;
}
/*End experience*/

/*Start contact*/
form {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

form label {
  font-size: 1.5rem;
}

input,
select,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  border: none;
  outline-color: #82A5C5;
}

input[type="submit"] {
  width: initial;
  background-color: #041D42;
  color: #EEE;
  padding: 1rem 2rem;
  border-radius: .8rem;
  cursor: pointer;
  transition: background-color 650ms;
}

input[type="submit"]:hover {
  color: #041D42;
  background-color: #82A5C5;
}
/*End contact*/


/*Start footer*/
.copyright p {
  font-weight: 200;
  font-size: 1.4rem;
}

.copyright {
  width: 100%;
  text-align: center;
  background-color: #041D42;
  padding: 2rem 0;
  position: relative;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.up i {
  color: black;
  font-size: 2rem;
  margin: auto;
}
/*End footer*/


/*Start animations*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(130, 165, 197, 0.99);
  }

  70% {
    box-shadow: 0 0 0 2rem rgba(130, 165, 197, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(130, 165, 197, 0);
  }
}
/*End animations*/


/*Start media queries for mobile*/
@media screen and (max-width: 1120px) {

  .thumb{
    width: 30%;
    height: 180px;
  }

  .extrapic{
    width: 60%;
   }

  .nav-list {
    flex-direction: column;
  }

  .about-details .nav-list {
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {

  section{
    padding: 3rem 0;
  }

  .section-heading {
    margin-bottom:2rem;
  }


  .my-skills{
    flex-flow: row wrap;
    margin-top:2rem;
  }

  .landing-text h1 {
    font-size: 8rem;
    line-height: 1.1;
  }

  .landing-text h6 {
    font-size: 2rem;
  }


  li {
    margin: 1.2rem 0
  }

  .about-heading h1 {
    font-size: 8rem;
  }

  .about-details i {
    font-size: 2.5rem;
  }

  .about-details li {
    margin: 0 1rem;
  }

  .icon-container {
    width: 7rem;
    height: 7rem;
  }

  .icon-container i {
    font-size: 3rem;
  }

}

@media screen and (max-width: 600px) {

  .extrapic{
    width: 100%;
   }

 section p, .portfolio-long ul{
    font-size: 1.5rem;
  }

  .landing-text h1 {
    font-size: 7rem;
  }

  .landing-text h6{
    font-size: 1.4rem;
  }

  .landingbtn {
    width: 16rem;
  }

  .landing-text {
    top: 30rem;
  }

  .about .container {
    flex-direction: column;
  }


  .profile-img {
    margin: 0 7rem 7rem 7rem;
  }

  .portfolio-item {
    flex-direction: column;
  }

  .portfolio-description {
    order: 2;
    margin: 0;
  }

  .portfolio-description h1 {
    margin-top: -1rem;
    font-size: 2.5rem;
  }


  .portfolio-img {
    max-width: 100%;
    margin-bottom: 2rem;
    order: 1;
  }

  .timeline p{
    font-size: 1.3rem;
  }

  .timeline ul{
    border-left: 4px solid #8FADBF;
    border-radius: .8rem;
    background-color: rgba(4, 29, 66, 0.918);
    margin: 0 auto 0 9rem;
    position: relative;
    padding: 1rem;
    list-style: none;
    text-align: left;
    width: 70%;
  }
  
  .timeline .date::before{
    content: attr(data-date);
    left: -17.5rem;
    text-align: right;
    min-width: 15rem;
    font-size: 1rem;
  }
  
  .timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px #041D42;
    border-radius: 100%;
    left: -2rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #82A5C5;
  }

  .up{
    right: 1.3rem;
  }

}
/*End media queries*/

/*------------------------------------*/

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: -10;

}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}
